@font-face {
    font-family: 'SeoulNotice';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/SeoulAlrimTTF-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.weather-box{
   background-image: linear-gradient(-45deg, #061d35 0%, #256cd6 100%);
  margin: 10px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.281);
  color: #fff;
  padding: 0px 10px 20px 10px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.weather-box::before{
 content: '';
 position: absolute;
 width: 100%;
 height: 40%;
 left:0;
 bottom: 0;
 background-color: rgba(255, 255, 255, 0.25);
}
.weather-box h1{
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 30px;
  font-weight: bold;
}
.weather-box h2,h3{
  font-family: 'NanumSquareRound';
}
.button-box{
  margin-top: 20px;
  display: flex;
}
.button-box button{
  padding: 10px 20px;
  margin: 2px;
}
 .weather-info{
    display: flex;
    justify-content: space-around;
  }
.weather-icon {
  font-size: 50px;
  margin-bottom: 16px;
  transition: transform 0.5s ease;
}
.weather-icon:hover {
  transform: scale(1.05);
}

 .add-info >div{
  display: flex;
  justify-content: space-between;
  background-color:rgba(2, 2, 38, 0.99);
   padding:10px;
 }
  .add-info >div>div{
    display: flex;
  }
 .add-info p{
  padding:10px 30px;
  
 }
  .add-info p:nth-child(1){
    border-radius: 3px; 
    border: 1px solid #ffffff;
    color: #fff;
  }
@media(max-width:768px){
  .weather-box{
  padding: 0px 10px 10px 10px;
  margin: 0;
  }
  .button-box{
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.button-box button{
  font-size: 12px;
  border-radius: 10px;
  margin: 2px;
  padding:10px 10px;
}
.current_btn{
  width: 90%;
  margin:0px 6px;
}

 .add-info p{
  font-size: 12px;
  padding:20px 20px;
  
 }
}